*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: lightblue;
    color: #0A3871;
}

.cabecalho__logoAlura{
    width: 120px;
    height: 48px;
    padding: 40px 0px 0px 40px;
}
.conteudo{
    display: flex;
    gap:60px;
}
.conteudo__area{
    display: flex;
    flex-direction: column;
    padding: 78px 0 0 240px;
    width: 50%;
}
.conteudo__text__area{
    width: auto;
    height: 670px;
    padding: 8px;
    font-size: 32px;
    border: none;
    background-color: lightblue;
    resize: none;
}
.conteudo__area__aviso{
    display: flex;
    padding: 10px;
    gap: 8px;
}
.conteudo__area__botoes{
    display: flex;
    gap: 24px;
}
.area__botoes__botao, .conteudo__botao__copiar{
    text-align: center;
    width: 100%;
    border-radius: 24px;
    padding: 24px 24px;
    font-size: 16px;
    background-color: #D8DFE8;
    transition: 1s;
}
.area__botoes__botao:hover, .conteudo__botao__copiar:hover{
    color: white;
    background-color: darkblue;
    transition: 1s;
}
#conteudo__imagem__texto{
    display: block;
}

#retornaTexto, .conteudo__mostra__texto{
    display: flex;
    flex-direction: column;
    display: none;
    gap: 20px;
}
.conteudo__resposta__area{
    width: 336px;
    height: 781px;
    margin-bottom: 27px;
    border: none;
    resize: none;
    font-size: 24px;
}

.conteudo__resposta{
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 944px;
    width: 400px;
    margin-right: 25px;
    margin-top: -50px;
    position: relative;
}
.conteudo__resposta__texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 16px;
    width: 336px;
    height: 122px;
}
.conteudo__resposta__texto h1{
    font-size: 25px;
    text-align: center;
}
.conteudo__resposta__texto p{
    font-size: 19px;
    text-align: center;
}
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rodape__link{
    text-decoration: none;
}